<!--这是 拾事 页面-->
{{!< default}}

<div class="content-area">
    <main class="site-main">
        <article class="single {{post_class}}">
            {{#get "posts" filter="primary_tag:pick-anything"}}
                {{#foreach posts limit="1"}}  
                    <header class="single-header kg-canvas">
                        <h1 class="single-title">{{title}}</h1>
                        {{#if custom_excerpt}}
                            <div class="single-excerpt">
                                {{custom_excerpt}}
                            </div>
                        {{/if}}
                        {{#if feature_image}}
                            {{#unless no_image}}
                                <div class="single-media kg-width-full u-placeholder horizontal">
                                    <img class="lazyload u-object-fit" data-srcset="{{> srcset}}" data-sizes="auto" src="{{img_url feature_image size="l"}}"
                                        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}">
                                </div>
                            {{/unless}}
                        {{/if}}
                    </header>
                    <div class="single-content kg-canvas u-text-format">
                       {{content}}
                    </div>
                {{/foreach}}
                {{else}}
                <!--TODO:有瑕疵当获取不到相关文章，就使用页面的默认title-->
                {{/get}} 
        </article>
    </main>
</div>




